<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input
        type="text"
        class="form-control"
        placeholder="Search Recipe"
        [(ngModel)]="query"
      />
      <button (click)="searchRecipes(query)">Search Recipe</button>
      <div class="recipe-list">
        <div
          class="recipe-item"
          *ngFor="let recipe of recipes"
          [routerLink]="['/bookDetails', recipe.id]"
          [queryParams]="{ id: recipe.id }"
        >
          <p>{{ recipe.title }}</p>
          <img [src]="recipe.image" alt="{{ recipe.title }}" />
          <button (click)="favoriteRecipe(recipe)" style="margin-top: 10px">
            Ulubione
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
